/* Add this to your HomePage.css */

/* body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('reward.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Light text for contrast 
    

    
  } */
  
  
  /* Adding an overlay */
  
  
  /* Rest of your styles */
  
  /* RewardFan.css */

.reward-fan {
    height: 100vh; /* Adjust if necessary */
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('reward.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Light text for contrast */
    position: relative; /* Needed for the pseudo-element to position itself properly */
  }
  
  /* Adding an overlay specifically for RewardFan component */
  .reward-fan:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay with opacity */
    z-index: -1;
    pointer-events: none; /* Allows clicking through the overlay */
  }
  
  /* Rest of your styles for RewardFan */
  
  .reward-fan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .reward-fan h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .reward-fan-container {
    background: rgba(0, 0, 0, 1); /* Semi-transparent black */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Some padding around the content */
    width: fit-content; /* Adjust the width as necessary */
    margin: auto; /* Center the container */
  }
  
  /* Style individual input fields */
  
  /* Style the button */
  .reward-fan button {
    padding: 10px 20px;
    background-color: #21d192; /* Or any color that fits the theme */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add some space above the button */
  }
  
  /* Add hover effect for the button */
  .reward-fan button:hover {
    background-color: #1aa17a;
  }
  
  /* Rest of your styles... */
  
  .reward-fan input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
    display: flex;
    margin-left: 25px;
  }
  
  .reward-fan input::placeholder {
    color: #aaa;
  }
  
  .reward-fan button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #21d192; /* A bright accent color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
  }
  
  .reward-fan button:hover {
    background-color: #1aa17a; /* A slightly darker shade for hover effect */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .reward-fan h2 {
      font-size: 1.5em;
    }
    
    .reward-fan input, .reward-fan button {
      width: 90%;
    }
  }
  