.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css or another main stylesheet */

/* This sets the background of the header and changes the text color to white */
.nav {
  background-color: #000;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* This styles the navigation links or buttons */
.nav-link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

/* This changes the background color of the buttons on hover */
.nav-link:hover {
  background-color: #555;
  cursor: pointer;
}

/* This sets the layout of the header to display flex and center the items */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
